extends ../layout.jade

block content
  if errors
    ul
      each error in errors
        li= __(error)

  div
    div.vertical-center
      form(role="form", action="/auth/local/register", method="post", style="text-align: center").center-block
        div.form-group
          input(type="text", name="username", placeholder="Username").form-control
          input(type="text", name="fullname", placeholder="Две имена").form-control
          input(type="text", name="email", placeholder="Email").form-control
          input(type="password", name="password", placeholder="Password (at least 8 characters)").form-control
          input(type="text", name="crowdin", placeholder="CrowdIn").form-control
          input(type="text", name="facebook", placeholder="Facebook").form-control
          input(type="text", name="skype", placeholder="Skype").form-control
          input(type="text", name="upwork", placeholder="UpWork").form-control
          input(type="checkbox", name="entity", value="isEntity").form-control
          span Юридическо лице
        button(type="submit").btn.btn-primary Sign up
