doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1= 'Welcome, ' + user.username
    #container.col
      if youAreUsingJade
        p Your documents are:
      else
        p Error while getting documents
      ul
        each doc in documents
          li
            a(href='/get_document/' + doc.path)= doc.name

