doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1= 'Здравей, ' + user.username
    #notifications.col
      p Откакто те нямаше, в системата се случи следното:
      ul
        each notif in notifications
          li
            = notif.text
            |  
            a(href='/get_document/' + notif.path) Свали
            |  
            a(href='/dismiss/' + notif.id) Скрий
    #container.col
      if youAreUsingJade
        p Твоите качени документи:
      else
        p Грешка при изтегляне на документите
      ul
        each doc in documents
          li
            a(href='/get_document/' + doc.path)= doc.name
    #submit
      .col
        form(action="http://localhost:1337/document/upload?type=contract",enctype="multipart/form-data",method="post")
          input(type="file", name="document", multiple="multiple")
          input(type="submit", value="Качи договор")
      .col
        form(action="http://localhost:1337/document/upload?type=declaration",enctype="multipart/form-data",method="post")
          input(type="file", name="document", multiple="multiple")
          input(type="submit", value="Качи декларация")
      .col
        form(action="http://localhost:1337/document/upload?type=order",enctype="multipart/form-data",method="post")
          input(type="file", name="document", multiple="multiple")
          input(type="submit", value="Качи поръчка")
      .col
        form(action="http://localhost:1337/document/upload?type=protocol",enctype="multipart/form-data",method="post")
          input(type="file", name="document", multiple="multiple")
          input(type="submit", value="Качи протокол")
