doctype html
html
  head
    link(rel="stylesheet", href="bootstrap_dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/main.css")
    script(src="bootstrap_dist/js/bootstrap.min.js")
    block title
      title Система за документооборот на "Образование без раници"
  body
    block content
