doctype html
html
  head
    link(rel="stylesheet", href="/bootstrap_dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/main.css")
    script(src="/js/jquery-3.1.0.min.js")
    script(src="/bootstrap_dist/js/bootstrap.min.js")
    block title
      title Система за документооборот на "Образование без раници"
  body
    block content
    block footer
      a(href="/logout").btn.btn-danger.btn-toolbar Излез
      a(href="/status_table").btn.btn-default.btn-toolbar Статус на всички
