extends ./layout.jade

block content
  h1(style="text-align:center") Всички поръчки
  div.panel-group
    div.panel
      if unfold
        a(href="/all_orders").btn.btn-default.btn-toolbar Сгъни документите
      else
        a(href="/all_orders/unfold").btn.btn-default.btn-toolbar Разгъни документите
    div.panel.panel-default(style="width: 80%")
      each order in orders
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", href="#collapse-#{order.id}")= order.assignee.fullname + ' / ' + new Date(order.assignedOn).toUTCString()
        div(id="collapse-#{order.id}").panel-collapse.collapse
          ul.list-group
            each doc in documents[order.id]
              li(value=doc.id, class=((doc.signedByUser && !doc.signedByAdmin) ||
                (doc.signedByUser && doc.signedByAdmin && !doc.sent) ||
                (doc.signedByUser && doc.signedByAdmin && !doc.paid)) ? "waiting" : "ready").list-group-item
                a(href='/get_document/' + doc.path)= doc.name + ' / ' + new Date(doc.createdAt).toUTCString()
                |  
                a(href='/send_document/' + doc.id).btn.btn-xs.btn-success.btn-menu Изпрати
                if doc.type == 'renumerationForm' || doc.type == 'receipt'
                  |  
                  a(href='/pay_document/' + doc.id).btn.btn-xs.btn-default.btn-menu Означи като платен
                |  
                a(href='/update_document/' + doc.id).btn.btn-xs.btn-info.btn-menu Обнови
