extends ./layout.jade

block content
  #container.container
    h3 Документи, които са подписани, изпратени и платени:
    ul
      each doc in documents
        li
          a(href='/get_document/' + doc.path)= doc.name + ' от потребител ' + doc.owner
