extends ./layout.jade

block content
  #container.container
    h3 Документи, чакащи за изпращане към счетоводител:
    ul
      each doc in documents
        li
          a(href='/get_document/' + doc.path)= doc.name
          |  
          a(href='/send_document/' + doc.id) Означи като изпратен
