doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1= 'Обновяване на документ ' + doc.name + ' от потребител ' + doc.owner
    form(action="/document/upload?type=" + doc.type + "&signedByAdmin=1",enctype="multipart/form-data",method="post")
      input(type="file", name="document", multiple="multiple")
      input(type="submit", value="Обнови")
