mixin uploadDoc(type, typeReadable, orders)
  .col
    hr
    form(action="/document/upload?type="+type,enctype="multipart/form-data",method="post")
      input(type="file", name="document", multiple="multiple")
      if orders
        span Избери поръчка:
        select(name="orderId")
          each order in orders
            option(value=order.id)= order.assignee.fullname + '/' + new Date(order.assignedOn).toUTCString()
      input(type="submit", value="Качи " + typeReadable).submit-doc
