input[type="file"] {
  display: inline-block;
}

.container {
  padding: 0px 20px 10px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.notif-controls {
  right: 40px;
  position: absolute;
}

.notification-line {
  height: 34px;
  position: relative;
}